.container {
    max-width: 1080px;
    margin: 20px auto;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    h1 {
        color: var(--white);
    }
}

.containerHeader {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    gap: 14px;

    button {
        background: transparent;
        border: 0;
    }
}

.listData {
    margin: 8px 0;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.equipment {
    display: flex;
    background-color: var(--dark-900);
    align-items: center;
    border: 0;
    font-size: 16px;
    border-radius: 8px;
    color: var(--white);
    transition: all 0.5s;
    padding-right: 16px;
    margin-right: 8px;
    cursor: pointer;

    &:hover {
        filter: brightness(1.2);
    }
}

.containerPeriod {
    margin: 8px 0;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.period {
    display: flex;
    background-color: var(--dark-900);
    align-items: center;
    border: 0;
    font-size: 14px;
    border-radius: 8px;
    color: var(--white);
    transition: all 0.5s;
    padding: 6px 12px;
    margin-right: 8px;
    cursor: pointer;

    &:hover {
        filter: brightness(1.2);
    }
}

.tag {
    width: 9px;
    height: 60px;
    background-color: var(--green-900);
    border-radius: 6px 0 0 6px;
    margin-right: 16px;
}

.chartContainer {
    background-color: var(--dark-900);
    border-radius: 8px;
    padding: 8px;
}